<%= simple_form_for(@authentication, url: authentication_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email_address, as: :string %>
    <%= f.input :password, as: :password %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
