<div class="jumbotron">
  <h1>Hello!</h1>
  <p>
    <strong><%= app_name %></strong> makes it easy for people to get in touch with
    you, no matter where you travel.
  </p>
  <p>
    How it works:
  </p>
  <ol>
    <li>Set up the places you travel to, and your contact number in each.</li>
    <li>Add your travel itinerary by saying when you’ll arrive in a place.</li>
    <li>Point a <%= link_to "Twilio", "https://www.twilio.com/" %> phone number
      at your unique call flow URL.
    </li>
    <li>Phone calls follow you around the world as if by magic!</li>
  </ol>

  <p>
    <%= link_to "Sign in", new_authentication_path %> or
    <%= link_to "sign up", new_user_path %> to get started.
  </p>
</div>
