<div class="jumbotron">
  <h1>Hello <%= current_user %>!</h1>
  <% if current_place %>
    <p>
      You’re currently in
      <%= link_to current_place, edit_place_path(current_place) %>
      and calls are being forwarded to
      <strong><%= current_place.phone_number %></strong>.
    </p>
    <p>
      Your unique
      <%= link_to "Twilio", "https://www.twilio.com/" %>
      request URL is <br />
      <%= link_to response_url(current_user.uuid), response_url(current_user.uuid) %>
    </p>
    <p>
      Edit your <%= link_to "places", places_path %>
      and <%= link_to "travel", moves_path %>.
    </p>
  <% else %>
    <p>
      Add some <%= link_to "places", places_path %>
      and <%= link_to "travel", moves_path %>.
    </p>
  <% end %>
</div>
