<%= simple_form_for(@move) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :place, collection: current_user.places, label: "Destination" %>
    <p><%= link_to "Add a new place", new_place_path %> if necessary.</p>
    <%= f.input :year, collection: (Time.now.year - 10 .. Time.now.year + 10) %>
    <%= f.input :month, collection: (1 .. 12) %>
    <%= f.input :mday, collection: (1 .. 31) %>
    <%= f.input :hour, collection: (0 .. 24) %>
    <%= f.input :minute, collection: [0, 15, 30, 45] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
