<h1>Travel</h1>

<table class="table">
  <thead>
    <tr>
      <th>Place</th>
      <th>Arrival time at destination</th>
      <th>Time in UTC</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%= move.place %></td>
        <td><%= move.local_date_string %></td>
        <td><%= move.utc_date_string %></td>
        <td><%= link_to 'Edit', edit_move_path(move) %></td>
        <td><%= link_to 'Delete', move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add travel', new_move_path %>
