<div id="footer">
  <div class="container">
    <strong><%= app_name %></strong> is not even alpha software, is not
    guaranteed to work, and probably should not be used by anybody.
    It is not affiliated with Twilio, Inc., in any way.
    Made by <%= link_to "Paul Battley", "http://po-ru.com/" %>.
    <%= link_to "Source code", "https://bitbucket.org/threedaymonk/stayintouch" %>.
  </div>
</div>
