<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= app_name %></a>
    </div>

    <div>
      <% if current_user %>
        <%= render partial: "signed_in_nav" %>
      <% else %>
        <%= render partial: "signed_out_nav" %>
      <% end %>
    </div>
  </div>
</nav>
