<ul class="nav navbar-nav">
  <li><%= link_to "Places", places_path %></li>
  <li><%= link_to "Travel", moves_path %></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to current_user, edit_user_path %></li>
  <li><%= button_to("Sign out", authentication_path, method: :delete, class: "btn") %></li>
</ul>
