<h1>Listing places</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time zone</th>
      <th>Phone number</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.tz_name %></td>
        <td><%= place.phone_number %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a place', new_place_path %>
