<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= app_name %></title>
  <%= stylesheet_link_tag 'bootstrap.min.css', 'custom.css' %>
  <%= javascript_include_tag 'jquery.min', 'bootstrap.min', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">
    <%= render partial: "nav" %>

    <div class="container">
      <%= yield %>
    </div>
  </div>

  <div id="push"></div>

  <%= render partial: "footer" %>
</body>
</html>
